* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #181a1b;
}

header {
  padding: 10px;
  border-bottom: 1px solid rgb(55, 60, 62);
  height: 90px;
}

.main-title {
  font-family: "Tangerine", cursive;
  font-size: 70px;
  color: whitesmoke;
  text-align: center;
}

#main-section {
  min-height: calc(
    100vh - 240px
  ); /* Account for the combined height of header and footer */
  background-color: #333;
  display: flex;
  flex-direction: column;
}

#main-section h1 {
  color: whitesmoke;
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
}

#main-section span {
  font-family: "Tangerine", cursive;
  font-size: 60px;
}

a {
  text-decoration: none;
}

#card-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  position: relative; /* Add relative positioning to create a stacking context for the child elements of the container*/
  cursor: pointer;
}

.recipe-container:hover {
  filter: brightness(
    70%
  ); /* Adjust the brightness percentage for the shadow effect */
  transition: filter 0.3s ease; /* Add a smooth transition for the effect */
}

.recipe-card {
  width: 300px;
  height: 400px;
  background-color: #444;
  overflow: hidden; /* Ensure the image does not overflow the card */
  margin: 10px;
}

.recipe-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  color: whitesmoke;
  text-align: center;
  font-size: 18px;
  background-color: brown;
  margin: -20px 10px 0;
  width: 50%;
  height: auto;
  padding: 10px;
  position: relative; /* Add relative positioning for z-index to work */
  z-index: 1; /* Ensure the h2 appears above the card */
}

footer {
  height: 150px;
  text-align: center;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

.footer-links li {
  display: inline-block;
}

.footer-links a {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: aqua;
}

.footer-title {
  color: whitesmoke;
}

/* .recipe-type {
  background-color: aqua;
  margin: 5px 10px 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
} */

/* img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 50%;
}

ul {
  list-style-position: inside;
  text-align: left;
  margin: 0 auto;
  width: 400px;
  height: fit-content;
} */
